@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

body {
  overflow: scroll;
}

Button {
  border: none !important;
  outline: none !important;
  background-color: #010135 !important;
}

Button:hover {
  border: none !important;
  outline: none !important;
  background-color: #00fefc !important;
  color: black !important;
  /* font-weight: bold; */
}
